<!DOCTYPE html>
<html lang=fr>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../asset/font/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../asset/css/reset.css">
    <link rel="stylesheet" type="text/css" href="">
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <nav>
            <a href="#" id="logo"><img src="../asset/img/logo/ohmyfood.png" alt="ohmyfood logo"></a>
        </nav>
    </header>
    <main>
        <div class="background"></div>
        <section class="menu">
            <div>
                <h1>À la française</h1><i class="far fa-heart"></i>
            </div>
            <div class="card__container">
                <h2>Entrées</h2>
                <div class="card">
                        <div class="card__prev">
                            <h3>Tartare de poulpe acidulé</h3>
                            <p>aux zests d'orange</p>
                            <p class="price">25€</p>
                        </div>
                        <div><i class="fas fa-check-circle"></i></div>
                        <!-- ou flex self <i class="fas fa-check-circle"></i>-->
                </div>
            </div>
        </section>
        <div>
            <button>Commander</button>
        </div>
    </main>
    <footer>
        <p>ohmyfood</p>
        <ul>
            <li><i class="fas fa-utensils"></i><a href="#">Proposer un restaurant</a></li>
            <li><i class="fas fa-hands-helping"></i><a href="#">Devenir partenaire</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="mailto:ohmyfood@ohmyfood.com">Contact</a></li>
        </ul>
    </footer>
</body>
</html>