.menu_background {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 110%;
  padding-top: 220px;
  &--alt{
    background-position: 0px -107px;
  }
  @include breakpoints_tablette {
    background-size: 100%;
    padding-top: 400px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  background-color: $bg_color_tertiary;
  padding: 34px 14px 83px 14px;
  border-radius: 38px 38px 0 0;
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-left: 5px;
    @include breakpoints_tablette {
      margin-bottom: 55px;
    }
    & h1 {
      font-family: "Shrikhand", sans-serif;
      font-size: 28px;
      @include breakpoints_tablette {
        font-size: 40px;
      }
    }
    & svg {
      margin-right: 26px;
      font-size: 22px;
      &:hover{
        cursor: pointer;
        .fill-heart{
          transform: translateY(-15px);
        }
      }
    }
  }
  &__checkout {
    display: flex;
    justify-content: center;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 43px;
  @include breakpoints_tablette {
    margin-bottom: 70px;
  }
  & h1 {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: normal;
    @include breakpoints_tablette {
      font-size: 18px;
    }
  }
  & span {
    background-color: $color_tertiary;
    width: 40px;
    height: 3px;
    margin-top: 9px;
  }
  & h1,
  span {
    margin-left: 6px;
  }
  & li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $bg_color_primary;
    margin-top: 14px;
    border-radius: 13px;
    @include box-shadow(0px 6px 10px 1px rgba(90, 90, 90, 0.2));
    overflow: hidden;

    opacity: 0;
    animation: fadeIn 0.8s;
    animation-fill-mode: both;

    &:nth-child(4n + 1) {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
    &:nth-child(4n + 2) {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    &:nth-child(4n + 3) {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
    }
    &:nth-child(4n + 4) {
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s;
    }

    &:hover {
      cursor: pointer;
      .menu__checkbox {
        width: 68px;
        padding: 0;
        @media (min-width: 500px) {
          width: 60px;
        }
      }
      .menu__checkbox__icon i {
        animation: spin 900ms both;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 0;
    &__prev {
      margin: 15px 0 15px 10px;
      overflow: hidden;
      & h2 {
        margin-bottom: 7px;
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include breakpoints_tablette {
          font-size: 19px;
        }
      }
      & p {
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include breakpoints_tablette {
          font-size: 16px;
        }
      }
    }
    &__price {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      font-weight: bold;
      & p {
        font-size: 13px;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        padding-left: 15px;
        padding-right: 23px;
        @include breakpoints_tablette {
          font-size: 15px;
        }
      }
    }
  }
  &__checkbox {
    transition-property: width, padding;
    transition-duration: 1s, 0s;
    transition-delay: 0s, 0s;
    width: 0px;
    overflow: hidden;
    display: flex;
    padding-left: 10px;
    &__icon {
      background-color: $color_tertiary;
      color: $bg_color_primary;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 21px;
      & i {
        animation: spin-out 900ms 1;
        animation-fill-mode: both;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-out {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
