.btn {
    /* 218 51 */
    color: #fff;
    border: 0px;
    border-radius: 25px;
    padding: 17px 22px;
    font-weight: bold;
    font-size: 15px;
    background: rgb(255,121,218);
    background: linear-gradient(163deg, rgba(255,121,218,1) 0%, rgba(205,105,219,1) 85%, rgba(147,86,220,1) 100%);}