@mixin breakpoints_mobile{
    @media (min-width: map-get($breakpoints, 'mobile')) {
        @content;
    }
}
@mixin breakpoints_tablette{
    @media (min-width: map-get($breakpoints, 'tablette')) {
        @content;
    }
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}