.header {
    padding: 23px 0 12px 0;
}
.hidden{
    visibility: hidden;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    & a{
        line-height: 0;
    }
    & i{
        font-size: 18px;
        @include breakpoints_tablette{
            font-size: 30px;
        }
    }
    & a:first-child{
        position: absolute;
        left: 23px;
    }
    &__logo {
        height: 28px;
        @include breakpoints_tablette{
            height: 64px;
        }
    }
}